.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;

  .header-logo {
    font-size: large;
    font-weight: bold;
  }

  .header-search {
    input {
      border: none;
      outline: none;
      height: 40px;
      width: 200px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      padding-left: 10px;
    }
  }
}
