<div class="example-container">
  @if (isLoadingResults) {
  <div class="example-loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  } @else {
  <div class="cards-container">
    @for (user of usersData!.data | appFilter: searchKeyword; track $index) {
    <mat-card class="user-card" [routerLink]="['/user/', user.id]">
      <mat-card-header class="user-card-header">
        <div mat-card-avatar class="user-image">
          <img src="{{ user.avatar }}" alt="" />
        </div>
      </mat-card-header>
      <mat-card-content class="user-card-content">
        <mat-card-title class="first-name">{{
          user.first_name
        }}</mat-card-title>
        <mat-card-subtitle class="last-name">{{
          user.last_name
        }}</mat-card-subtitle>
        <p class="email">
          {{ user.email }}
        </p>
      </mat-card-content>
    </mat-card>
    }
  </div>
  <mat-paginator
    class="paginator"
    [length]="usersData!.total"
    [pageSize]="usersData!.per_page"
    aria-label="Choose page"
    (page)="onPageChange($event.pageIndex + 1)"
  ></mat-paginator>
  }
</div>
